<div class="header container">
  <a href="/" class="bender-link">
    <div class="bender">
      <div>byte</div>
      <div>bender</div>
    </div>
  </a>
  <nav>
    <ul class="container">
      {{ $currentPage := . }}
      {{ $menuName := "main" }}
      {{ range site.Menus.main }}
      {{ if $currentPage.IsMenuCurrent .Menu . }}
      <li class="active"><a aria-current="page" href="{{ .PageRef }}">{{ .Name }}</a></li>
      {{ else if $currentPage.HasMenuCurrent .Menu . }}
      <li class="active"><a aria-current="true" href="{{ .PageRef }}">{{ .Name }}</a></li>
      {{ else if and $currentPage.IsHome (eq .PageRef "/") }}
      <li class="active"><a aria-current="true" href="{{ .PageRef }}">{{ .Name }}</a></li>
      {{ else }}
      <li><a href="{{ .PageRef }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
      <ul>
  </nav>
</div>